/*This is my 210 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Jacob Sterrett and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing Systems November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/sky_bg.png)
    center center fixed no-repeat;
    background-size: cover;
	
	
}

.center {
    width: 70%; /* responsive width */
    padding: 2%;
    margin: 100px auto 20px auto;
 	background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(180, 183, 190, 0.8)); /*changed background to gradient */
	text-align: center;
    border: 4px solid white;
    /* changed border to white */

}

   
#logo {
    margin-bottom: 30px;
	border: none;
	text-align: center;
    filter: invert(1);
}

p {
	/* Chose Eurostile from Adobe fonts*/
	font-family: eurostile-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	font-family: arboria, sans-serif;
    font-weight: 300;
    font-style: italic; /* changed to italics */
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

.links {    
    /* copied css from .center, modified margins */
    width: 70%; /* responsive width */
	padding: 2%;
    margin: 10px auto;
 	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2), rgba(230, 233, 238, 0.8)); /*changed background to gradient */
	text-align: center;
    border: 4px solid white;
    /* changed border to white */

}

nav{
    font-family: arboria, sans-serif;
    font-size: 1.2em;
    width: 70%; /* responsive width */
    margin: auto; /* removed bottom margin */
    border-top-style: solid; /* changed border style from dashed */
    border-bottom-style: solid;
    border-color: white;
    border-width: 2px 0;
    text-align: center;
}
    
nav li{
    display: inline;
}    
nav a{
    display: inline-block;
    padding: 10px;
}

a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: rgba(83, 99, 112, .80);
}