/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-family: "mrs-eaves", serif;
}

div.container {
	max-width: 35em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 2em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {
	font-size: 3em; 
	font-weight: 600;
	margin: 0 0 1em 0;
}

h2 {
	font-size: 1.7em; 
	font-weight: 100;
	margin-bottom: 0.5rem
}

h3 {
	font-size: 1.5em; 
	font-weight: 700;
	margin: 1rem 0rem 0.5rem;
	color: #494949;
}

li {
	margin: 1em;
}

p {
	text-align: right justify;
	line-height: 1.5rem;
	margin-bottom: 1em;
}

figcaption {
	font-size: 0.9em;
	font-weight: 400;
	color: #505050;
}

 /* Type */
 /* 
	Mrs Eaves OT Roman
		font-family: "mrs-eaves", serif;
		font-weight: 400;
		font-style: normal;
	Mrs Eaves OT Italic
		font-family: "mrs-eaves", serif;
		font-weight: 400;
		font-style: italic;
	Mrs Eaves OT Bold
		font-family: "mrs-eaves", serif;
		font-weight: 700;
		font-style: normal;
	Mrs Eaves OT Bold Italic
		font-family: "mrs-eaves", serif;
		font-weight: 700;
		font-style: italic;
	Mrs Eaves Roman Lining
		font-family: "mrs-eaves-roman-lining", serif;
		font-weight: 400;
		font-style: normal;
	Mrs Eaves Roman Small Caps
		font-family: "mrs-eaves-roman-small-caps", serif;
		font-weight: 400;
		font-style: normal;
	Mrs Eaves Roman All Small Caps
		font-family: "mrs-eaves-roman-all-small-ca", serif;
		font-weight: 400;
		font-style: normal;
	Mrs Eaves Roman All Petite Caps
		font-family: "mrs-eaves-roman-all-petite-c", serif;
		font-weight: 400;
		font-style: normal;
	Mrs Eaves Roman Petite Caps
		font-family: "mrs-eaves-roman-petite-caps", serif;
		font-weight: 400;
		font-style: normal; */
