/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%; 
}
body {
    font-family: eurostile, sans-serif;
    max-width: 80rem;
    margin: auto;
}
header {
    height: 10rem;
    width: 100%;
    background-color: rgb(89, 89, 89);
    border-bottom: 1px solid rgb(89, 89, 89);
    box-shadow: 4px 0px 5px rgb(89, 89, 89);
    padding-top: 1rem;
}
h1 {
    margin: 0rem auto 0rem 1rem;
    width: 7rem;
}
h2 {
    margin: 1rem;
    font-weight: 700;
    font-size: 2rem;
}
h3,p.artist,p.format{
    font-weight: 300;
    font-size: 1.2rem;
    color: rgb(78, 78, 78);
}
h4 {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: right;
}
ul{
    list-style: none;
}
article {
    display: grid;
    margin: 1em 3em;
}
article p{
    margin: 1rem auto;
}
figcaption a{
    margin: 2rem auto auto;
    color: rgb(150,150,150);
    font-weight: 200;
    font-size: 0.8rem;
    font-style: normal;
}
nav {
    margin: 1rem auto 0rem 1rem;
    width: auto;
}
nav li {
    display: inline;
    margin: 0.5rem;
    padding: 0.2rem;
    max-width: 4rem;
}
nav li a{
    text-decoration: none;
    padding: 0.2rem;
    color: rgb(200,200,200);
    font-weight: 300;
    font-style: normal;
}
nav li a:hover{
    border: 2px solid rgb(200,200,200);
}
iframe {
    margin: 1em auto;
    width: 100%;
}
/* Styles for shop section*/
div.shop ul{
    display: grid;
    margin-top: 2rem;
    grid-template-rows: repeat(5, 35rem);
    gap: 0.5rem 0.5rem;
}
div.shop ul li{
    grid-column: repeat(1fr);
    grid-row: repeat(1fr);
    background-color: rgba(150, 150, 150, 0.2);
    display: grid;
    grid-template-rows: 4rem 1.5rem auto 1.5rem 1.5rem 2rem;
}
li img {
    margin: 0.5rem 0;
}
p.downloadyes {
    border-radius: 3px;
    margin: auto;
    padding: 0.2rem;
    text-align: center;
    background-color: rgb(145, 229, 167);
}
p.downloadno {
    border-radius: 3px;
    margin: auto;
    padding: 0.2rem;
    text-align: center;
    background-color: rgb(215, 134, 134);
}
/* changes based on a minimum 40rem screen size */

@media screen and (min-width: 35rem) {
    header {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        min-width: 40rem;
    }
    h1 {
        grid-column: 1/2;
    }
    nav {
        grid-column: 3/4;
    }
    nav ul li {
        display: block;
    }
    div.shop ul {
        grid-template-columns: repeat(4, 18rem);
        grid-template-rows: repeat(4, 30rem);
    }
    div.shop ul li {
        border-radius: 10px;
    }
    article {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    }
    article figcaption{
        grid-row: 3/4;
    }
}
